// layout

//////////////////////////////////////////////////////
// CONTAINER
.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem; // For dev purpose

    // under 1200px, remove margin
    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
}
 
//////////////////////////////////////////////////////
// HEATHER
.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    // Flex container
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 11rem;
    }
}

//////////////////////////////////////////////////////
// CONTENT
// Flex container
.content {
    display: flex; // sidebar on the left and hotel-view on the right

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

//////////////////////////////////////////////////////
// SIDE BAR
// Flex items
.sidebar {
    background-color: var(--color-grey-dark-1); 

    // flex properties
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

//////////////////////////////////////////////////////
// HOTEL VIEW
.hotel-view {
    background-color: #fff;

    // flex properties
    flex: 1; // item should grow as much as it can.
}

//////////////////////////////////////////////////////
// DETAIL
.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    flex: 1;

    // Center content
    display: flex;
    flex-direction: column;
    align-items: center;
}